*{
    box-sizing: border-box;
}

body{
    background-color: black;
}
h1{
    color: white;
    font-family: 'Tangerine', cursive;
}
h2{
    color: white;
}
h3{
    color: beige;
}
p{
    color: beige;
}